body{
	background-color: #000000;
	overflow-x: hidden;
}
.container{
	margin: 0 auto;
	max-width: 720px;
}
p{
	font-family: monospace;
	font-size: 12px;
	padding: 0px 0px;
}

h3{
	padding: 0 4px;
}
.navbar{
	max-width: 800px;
	width: 100%;
	color: #ffffff;
	font-style: italic;
}
.box{
	width: 100%;
	color: #ffffff;
	margin-top: 16px;
}
nav{
	text-align: center;
	border-bottom-style: solid;
	border-width: 1px;
	padding-top: 2px;
	padding-bottom: 5px;
	border-color: #ffffff;
}
h1{
	font-family: monospace;
	text-align: center;
	margin: 2px;
}
h2{
	font-family: monospace;
}
a{
	padding: 0 12px;
	color: #ffffff;
	font-family: monospace;
	font-size: 11px;
	text-decoration: none;
}
a:hover{
	background-color: #ffffff;
	color: #000000;
	padding: 0 12px;
	font-family: monospace;
	font-size: 11px;
	text-decoration: none;
}
a.image{
	padding: 0;
}
a.image:hover{
	background-color: transparent;
	padding: 0;
}
img{
	display: block;
}
.backbar{
	border-bottom-style: solid;
	border-width: 1px;
	padding-bottom: 5px;
	border-color: #ffffff;
	border-top-style: solid;
	font-style: italic;
}
pre{
	font-family: monospace;
	font-size: 12px;
	padding: 0px 0px;
}
.bird{
	position: relative;
}
.bird img {
	position: absolute;
	bottom: 0;
	right: 0;
}
@media (max-width: 530px) {
	.bird img {
		position: static;
		display: block;
		max-width: 100%;
	}
}

li{
	font-family: monospace;
	list-style-type: "- ";
}

a.media{
	font-family: monospace;
	font-style: italic;
	font-size: 12px;
	padding: 0px 10px;
	text-decoration: none;
}

p.media{
	font-family: monospace;
	font-size: 12px;
	padding: 0px 10px;
	text-decoration: none;
}
li p {
	margin: 0;
}